flask>=3.0
requests
flask-cors
torch>=2.4
torchaudio>=2.4
transformers>=5.3.0
accelerate
numpy
soundfile
librosa
psutil
safetensors
huggingface_hub
pydub
kokoro-onnx
sounddevice
piper-tts>=1.4.0
onnxruntime>=1.14.0
openvoice-cli
f5-tts
